<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.lms.dao.RouteMapper">
  <resultMap id="BaseResultMap" type="com.chen.lms.bean.Route">
    <id column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="start" jdbcType="VARCHAR" property="start" />
    <result column="terminal" jdbcType="VARCHAR" property="terminal" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chen.lms.bean.Route">
    <result column="range" jdbcType="LONGVARCHAR" property="range" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    route_id, start, terminal
  </sql>
  <sql id="Blob_Column_List">
    range
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.chen.lms.bean.RouteExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from route
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.chen.lms.bean.RouteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from route
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from route
    where route_id = #{routeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from route
    where route_id = #{routeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.chen.lms.bean.RouteExample">
    delete from route
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chen.lms.bean.Route">
    insert into route (route_id, start, terminal, 
      range)
    values (#{routeId,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR}, #{terminal,jdbcType=VARCHAR}, 
      #{range,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.lms.bean.Route">
    insert into route
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="routeId != null">
        route_id,
      </if>
      <if test="start != null">
        start,
      </if>
      <if test="terminal != null">
        terminal,
      </if>
      <if test="range != null">
        range,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="routeId != null">
        #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="start != null">
        #{start,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="range != null">
        #{range,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chen.lms.bean.RouteExample" resultType="java.lang.Long">
    select count(*) from route
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update route
    <set>
      <if test="record.routeId != null">
        route_id = #{record.routeId,jdbcType=VARCHAR},
      </if>
      <if test="record.start != null">
        start = #{record.start,jdbcType=VARCHAR},
      </if>
      <if test="record.terminal != null">
        terminal = #{record.terminal,jdbcType=VARCHAR},
      </if>
      <if test="record.range != null">
        range = #{record.range,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update route
    set route_id = #{record.routeId,jdbcType=VARCHAR},
      start = #{record.start,jdbcType=VARCHAR},
      terminal = #{record.terminal,jdbcType=VARCHAR},
      range = #{record.range,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update route
    set route_id = #{record.routeId,jdbcType=VARCHAR},
      start = #{record.start,jdbcType=VARCHAR},
      terminal = #{record.terminal,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.lms.bean.Route">
    update route
    <set>
      <if test="start != null">
        start = #{start,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="range != null">
        range = #{range,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where route_id = #{routeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chen.lms.bean.Route">
    update route
    set start = #{start,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      range = #{range,jdbcType=LONGVARCHAR}
    where route_id = #{routeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.lms.bean.Route">
    update route
    set start = #{start,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR}
    where route_id = #{routeId,jdbcType=VARCHAR}
  </update>
</mapper>